@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 1.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 77%
    width: 100px
  &-2
    animation: float1 1.5s ease-in-out infinite alternate
    position: absolute
    top: 43%
    right: 18%
    width: 70px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
    width: 33%
// .banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
//   color: $white !important  
.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
// .titulo-principal.color-acento-contenido .titulo-principal__numero span
//   color: $white !important
figcaption 
    font-weight: normal !important
// .banner-interno__titulo__icono i
//   color: $color-acento-botones !important
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img 
  width: 489.5px !important
.banner-principal
  .banner-principal__row
    transform: translateY(30px)
.banner-principal__row
  .banner-principal__info
    max-width: 550px
.banner-principal
  .container.tarjeta
    background-image: url("../assets/curso/portada/fondo-banner-principal.png")
    background-size: 100% 100% !important
    background-position: center
    min-height: 520px
    @media (max-width: $bp-max-md)
      background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
      overflow: visible !important
      background-size: 100% 100% !important
    @media (max-width: $bp-max-xs)
      background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
      overflow: visible !important
      background-size: 100% 100% !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner.png") !important
  background-size: cover
  background-position: center
  background-repeat: no-repeat
//- Modulo cajones
.cajon.C01
  background-color: #EFF1EB
.cajon.C02
  background-color: #D0DABF
.cajon.C03
  background-color: #CCD2C0
.cajon.C04
  background-color: #EFE6C8
//- Modulo tarjetas
.tarjeta--tabla
  // background-color: #D5F4F8
  // &:nth-child(even)
  //   background-color: #FFEBBE
.tarjeta--C01
  background-color: #F4F1E9
.tarjeta--C02
  background-color: #F9E7E7
.tarjeta--C03
  background-color: #EFF1EB
.tarjeta--C04
  background-color: #FDF7EA
.tarjeta--C05
  background-color: #F9E7E7
.tarjeta--C06
  background-color: #5B543E
  p
    color: #fff
.tarjeta--C07
  background-color: #E8E8F4  
.tarjeta--C08
  background-color: #E5DFCA
.tarjeta--bg03
  background-image: url("../assets/curso/temas/bg/bg03.png")
  background-size: cover
  background-repeat: no-repeat
.bg04
  position: relative
  width: 100% 
  background-image: url("../assets/curso/temas/bg/bg04.png") 
  background-size: cover
  background-position: left top
  background-repeat: no-repeat
  border-radius: 15px
.bg05
  background-image: url("../assets/curso//temas/bg/bg05.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -6.2rem !important
  padding-inline: 6.2rem !important
  @media (max-width: $bp-max-xl)
    margin-inline: 0 !important       // Resetea y lo obliga a quedarse a 12 cols
    padding-inline: 1.5rem !important  // Deja un espacio interno sutil para que no se pegue al borde
    background-size: cover            // Cover para que el fondo se adapte bien a la nueva proporción
  // Pantallas pequeñas (Móviles)
  @media (max-width: $bp-max-lg)
    margin-inline: 0 !important       // Se mantiene a 12 cols
    padding-inline: 1rem !important   // Un poco menos de espacio en los lados para ganar área de lectura
    background-size: cover
.tarjeta--bg08
  background-image: url("../assets/curso/temas/bg/bg08.png")
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important
.bg09
  background-image: url("../assets/curso/temas/bg/bg09.png")
  background-repeat: no-repeat
  background-size: 100% 100% 
  margin-inline: -5.2rem !important
  @media (max-width: $bp-max-md)
    margin-inline: -1.5rem !important 
    padding-left: 0 !important 
    padding-right: 0 !important 
    background-size: cover 
//- tarjeta segmentacion
.tarjeta-segmentacion 
  display: flex
  align-items: stretch
  background-color: #CCD2C0
  //-border-radius: 12px 
  overflow: hidden 
  width: 100%
  &__wrap-img 
    flex: 0 0 30% 
    padding: 0px
    margin: 0
    display: flex
    img 
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center 
  &__wrap-text 
    flex: 1
    padding: 30px 40px
    line-height: 1.6
    display: flex
    flex-direction: column // Organiza los párrafos uno debajo del otro
    justify-content: center // Mantiene el centrado vertical del texto
  @media (max-width: 991px)
    flex-direction: column
    &__wrap-img 
      flex: 0 0 auto
      width: 100%
      height: 220px
    &__wrap-text 
      padding: 20px
//- tarjetas cambio de color HOVER
.card-custom
  display: flex
  flex-direction: column
  height: 100%
  figure
    margin: 0
    img
      width: 100%
      display: block
.bg
  &-c1
    background-color: #E5DFCA
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
    transition: all 0.5s ease
    // Hace que el contenido se adapte y todas las tarjetas crezcan igual
    height: 100%
    display: flex
    align-items: center
    // Espaciado interno (opcional si no lo controlas desde el HTML)
    padding: 1.5rem
    h4
      margin-bottom: 0.5rem
    p
      margin-bottom: 0
    // Ajustes responsive de texto
    @media screen and (max-width: $bp-max-xl)
      p
        font-size: 0.95em
    @media screen and (max-width: $bp-max-lg)
      p
        font-size: 0.9em
    @media screen and (max-width: $bp-max-md)
      p
        font-size: 0.9em
//- Modulo medidas imagenes
.img70
  width: 70px 
.img75
  width: 75px 
.img80
  width: 80px 
.img90
  width: 90px 
.img50
  width: 50px
.img100
  width: 100px
.img120
  width: 120px
.img130
  width: 130px
.img150
  width: 150px
.img180
  width: 180px
.img200
  width: 200px
.img250
  width: 250px
.img280
  width: 280px
.img310
  width: 310px
.img400
  width: 400px
//- Modulo crd x4
.crd
  border-radius: 20px
  transition: background-color 0.3s ease
  &.crd--grayGrad
    padding: 2.5rem 1.5rem
    height: 100%
    background-color: #E8E8F4
    box-shadow: none
    &:hover      
      background-color: #F4F1E9
      .bottomCircle
        background-image: url("../assets/curso/temas/bg/bg02.svg")
// Marco contenedor con el fondo circular
.bottomCircle
  width: 130px
  height: 130px
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: center
  background-image: url("../assets/curso/temas/bg/bg01.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  transition: background-image 0.3s ease
//- Modulo crd x3
.crd01
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2.4rem
    height: 100%
    background-image: url("../assets/curso/temas/bg/bg07.png")
    background-size: cover
    background-repeat: no-repeat
    // h5
    //   color: $white
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 100%
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background-image: url("../assets/curso/temas/bg/bg06.png")
      background-size: cover
      background-repeat: no-repeat
      h5
        color: $black !important
      background-repeat: no-repeat
      background-position: center
      .bottomCircle01
        &::before
          background-color: #5B543E
  &.crd--blue
    background-color: #B1DBEA
  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px
.bottomCircle01
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 100px
    height: 100px
    background-color: #4D5198
    border-radius: 999px
//- Modulo slyders
.tarjeta--slyder
  height: 100%
  background-color: white
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  text-align: center
.custom
  .horizontal-scroll__wrapper
    padding: 2rem 0.5rem
.slyder-f__btn i
  color: #4D5198
.custom
  .horizontal-scroll
    align-items: stretch !important
.slyder__btn
  background-color: #4D5198
  color: #fff
.slyder-b__btn--sigt, .slyder-a__btn--atrs
  background-color: #4D5198
  color: #FFFF
  border: none
  opacity: 100
  background-image: url(../assets/curso/chevron-right2.png)
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #4D5198
  color: #FFFF
  border: none
  opacity: 100
  background-image: url(../assets/curso/chevron-right2.png)
.slyder-a__bullets__item
  background-color: #4D5198
  border: 1px solid #4D5198
.slyder-a__bullets__item--active
  background-color: #EEBABA
  border: 1px solid #EEBABA
//- Listas
.lista-ul li, ol.lista-ol li, .lista-ul--color li, .ol.lista-ol--cuadro li, .lista-ol--cuadro li, .lista-ul--separador li
  display: flex
ol.lista-ol--cuadro.lista-ol--separador, ol.lista-ol--cuadro.lista-ol
  li
    .lista-ol--cuadro__vineta
      span.text-bold
        color: $black
.lista-ul--color li > i:first-of-type
  color: #EEBABA
//- Modulo acordions
.acordion
  p
    color: #333
  .acordion__activo
    background-color: #F4F1E9    
  .acordion__accion__btn--b
    background-color: #4D5198  
    border: none
    color: #ffffff
  .acordion__accion__btn--a
    background-color: #4D5198
    border: none
    color: #ffffff
// Modulo versión escritorio/movil para figuras
@media (min-width: 992px)
  .desktop 
    display: inline
  .movil 
    display: none
@media (max-width: 991px)
  .movil 
    display: inline
  .desktop 
    display: none
//- Modulo tablas
.table
  width: 100%
  border-collapse: collapse
thead
  tr
    th
      background-color: #F9E7E7
.tabla-a.color-acento-contenido
  td
    text-align: left
.tabla-a.color-primario
  th
    background-color: #F9E7E7
  td
    text-align: left
.tabla-a.responsive
  width: 100%
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  border-radius: 8px
  th, td
    padding: 0.75rem
    text-align: left
    vertical-align: top
    word-break: break-word
    hyphens: auto
    white-space: nowrap
    padding: 0.75rem
    text-align: center
.tabla-a.responsive table
  min-width: 970px
  border-collapse: collapse
.tabla-a.responsive th, .tabla-a.responsive td
  white-space: nowrap
  padding: 0.75rem
  text-align: center
@media (max-width: 768px)
  th, td
    font-size: 0.85rem
    padding: 0.5rem
//- pasosb color fondo btn left and right
.pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: #4D5198
  border: none
  color: #fff
.pasos-b__header__item--before .pasos-b__header__item__dot 
  background-color: #EEBABA
  border: #EEBABA
.pasos-b__header__item--before .pasos-b__header__item__dot i
  color: #12263F
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color: #9D9D9D 
.pasos-b__header__item--active .pasos-b__header__item__line-container:before
  background-color: #9D9D9D
.pasos-b__header__btn--left i, .pasos-b__header__btn--right i
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario
/**************************************************************/
/*Media Queries*/  
/**************************************************************/
//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 
//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
 